<a href="javascript:history.back()" class="bk-btn">&#8249;</a>

<h2>
    Expectation Maximization
</h2>
<p>
    Expectation Maximization (EM) is a clustering algorithm which works
    iteratively to find maximum likelihood parameters of a statistical model.
    It is used when such parameters cannot be solved through equations
    directly. The reason for this may be missing data points, latent variables,
    or further, still unobserved, data points are to be assumed.
</p>
<p>
    The algorithm works on any n-dimensional dataset by first performing an
    estimate (expectation) to the initial mixture models and iteratively
    improving (maximizing) the parameters of these models. These mixture models
    are probabilistic models describing subpopulations. As such they are not
    simply mutually exclusive sets and therefore the models allow for overlap.
</p>