
<p>NotiVal was developed by Remy Kabel. The project was supervised by
    <a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/interactive-intelligence/people/current-group-members/m-birna-van-riemsdijk/">
        Birna van Riemsdijk</a>
    and
    <a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/interactive-intelligence/people/current-group-members/myrthe-tielman/">
        Myrthe Tielman</a>.

</p>

<p>
    This project will focus on finding what defines an appropriate moment in regards to providing support through a Social Adaptive Electronic Partner (SAEP).
    It paves the way to ultimately answering the question “Given a user’s daily activity, what is considered an appropriate time for support feedback,
    taking into consideration the user’s norms and values, to achieve a certain goal?”.
</p>