
<p>NotiVal was developed by Remy Kabel. The project was supervised by
    <a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/interactive-intelligence/people/current-group-members/m-birna-van-riemsdijk/">
        Birna van Riemsdijk</a>
    and
    <a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/interactive-intelligence/people/current-group-members/myrthe-tielman/">
        Myrthe Tielman</a>.
</p>