<div class="bttnContainer">
    <a href="/docs/docs" class="bttn" style="--color: var(--main-blue)">
        View the
        <br>
        full report
    </a>
</div>

<h1 class="header">
    Chapters (done)
</h1>
<div class="bttnContainer">
    <a href="/docs/intro" class="bttn" style="--color: var(--main-green)">
        1
        <br>
        Introduction
    </a>
    <a href="/docs/research" class="bttn" style="--color: var(--main-green)">
        2
        <br>
        Research
    </a>

</div>

<h1 class="header">
    Chapters (WIP)
</h1>
<div class="bttnContainer">
    <a href="/docs/concept" class="bttn" style="--color: var(--main-yellow)">
        3
        <br>
        Concept
    </a>
    <a href="/docs/implementation" class="bttn" style="--color: var(--main-yellow)">
        4
        <br>
        Implementation
    </a>
</div>

<h1 class="header">
    Snippets
</h1>
<div class="bttnContainer">
    <a href="/snippets/em" class="bttn" style="--color: var(--main-orange)">
        Expectation Maximization
    </a>
    <a href="/snippets/apriori" class="bttn" style="--color: var(--main-orange)">
        Apriori<br>
        algorithm
    </a>
    <a href="/snippets/values" class="bttn" style="--color: var(--main-orange)">
        Values
    </a>
    <a href="/snippets/platform" class="bttn" style="--color: var(--main-orange)">
        Platform
    </a>
</div>