
<p>NotiVal is a concept application which combines activity recognition,
    user values and machine learning to provide perfectly timed notifications.</p>

<img src="images/banner.jpg" alt="Notival Banner" style="height: 100%; width: 100%; object-fit: contain"/>