<p>Below are some statistics pulled straight from the database
    to give an indication about the data worked with.</p>

<div class="container">
    <div class="counterBlock">
        <i class="counterIcon fas fa-hashtag" style="background-color: var(--main-blue)"></i>
        <div id="totalCount" class="timer metal linear" data-to="0" data-speed="1500">-</div>
        <div class="description">Total number of data entries in the database</div>
    </div>

    <div class="counterBlock">
        <i class="counterIcon fas fa-walking" style="background-color: var(--main-green)"></i>
        <div id="activitiesCount" class="timer metal linear" data-to="0" data-speed="1500">-</div>
        <div class="description">Number of unique activities</div>
    </div>

    <div class="counterBlock">
        <i class="counterIcon fas fa-hashtag" style="background-color: var(--main-yellow)"></i>
        <div id="clusterCount" class="timer metal linear" data-to="0" data-speed="1500">-</div>
        <div class="description">Activity clusters</div>
    </div>

    <div class="counterBlock">
        <i class="counterIcon fas fa-hashtag" style="background-color: var(--main-orange)"></i>
        <div class="timer metal linear" data-to="0" data-speed="1500">-</div>
        <div class="description">And maybe another one?</div>
    </div>
</div>

<button id="clearDB">Clear database</button>
<button id="resetClusters">Recalculate Clusters</button>