<p>Work in progress</p>

<div class="fLeft">
    User ID:<br>
    <input id="user" type="text" name="user" placeholder="e.g. 123 or Remy" required />
    <br><br>
    <button id="predict">Predict</button>   <img id="predictSpinner" src="/images/spinner.gif" width="10px" />
    <br>
    <button id="moment">Find ideal moment</button>   <img id="momentSpinner" src="/images/spinner.gif" width="10px" />
</div>

<p id="status" class="error center"></p>