<p>Work in progress</p>

<form id="predict" class="fLeft" enctype="multipart/form-data">
    User ID:<br>
    <input type="text" name="user" placeholder="e.g. 123 or Remy" required>
    <br><br>
    <input type="submit" value="Predict">   <img id="spinner" src="/images/spinner.gif" width="10px">
</form>

<p id="predictStatus" class="error center"></p>