
<p>Information about uploadin </p>

<form id="uploadForm">
    Activity:<br>
    <input id="activity" type="text" name="activity" placeholder="e.g. Brushing Teeth" required>
    <br>
    Starting date:<br>
    <input id="startingDate" type="date" name="startingDate" required><input id="startingTime" type="time" name="startingTime" value="12:00" required>
    <br>
    Duration (min):<br>
    <input id="duration" type="number" name="duration" value="0" required>
    <br><br>
    <input type="submit" value="Submit">
</form>

<p id="uploadStatus" class="error"></p>
