<div class="fLeft">
    User ID:<br>
    <input id="user" type="text" name="user" placeholder="e.g. 123 or Remy" required />
    <br><br>
    <button id="load">Load</button>
    <button id="save">Save</button>
</div>

<form id="userValuesForm" class="fRight" enctype="multipart/form-data">
    <!--TODO: How to duplicate?-->
    <div class="tg-wrap"><table id="valueTable" class="tg">
        <tr id="header">
            <td class="tg-6ic8">Activity</td>
            <td class="tg-amwm">Unacceptable</td>
            <td class="tg-amwm">Very annoying</td>
            <td class="tg-amwm">Annoying </td>
            <td class="tg-amwm">Somewhat annoying</td>
            <td class="tg-amwm">Not at all annoying</td>
        </tr>
    </table></div>
</form>

<p id="status1" class="error center"></p>
<p id="status2" class="error center"></p>